<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_v3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_v3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation|density"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="com.mateusgomes.focusapp" />
            </intent-filter>
        </activity>

        <service
            android:name=".PomodoroForegroundService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="Timer" />
        </service>


        <receiver
            android:name=".GoalsWidgetProvider"
            android:exported="false"
            android:label="@string/widget_goals_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/goals_widget_info" />

        </receiver>


        <receiver
            android:name=".MonthlyAnalyticsWidgetProvider"
            android:exported="false"
            android:label="@string/widget_monthly_analytics_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/monthly_analytics_widget_info" />

        </receiver>


        <receiver
            android:name=".AnalyticsWidgetProvider"
            android:exported="false"
            android:label="@string/widget_weekly_analytics_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/analytics_widget_info" />

        </receiver>


        <receiver
            android:name=".MonthlyActivityWidgetProvider"
            android:exported="false"
            android:label="@string/widget_monthly_activity_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/monthly_activity_widget_info" />

        </receiver>


        <receiver
            android:name=".MediumTimerWidgetProvider"
            android:exported="false"
            android:label="@string/widget_medium_timer_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/medium_timer_widget_info" />

        </receiver>


        <receiver
            android:name=".SmallTodayFocusWidgetProvider"
            android:exported="false"
            android:label="@string/widget_today_focus_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_today_focus_widget_info" />

        </receiver>


        <receiver
            android:name=".SmallStreakWidgetProvider"
            android:exported="false"
            android:label="@string/widget_small_streak_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_streak_widget_info" />

        </receiver>


        <receiver
            android:name=".WeeklyActivityWidgetProvider"
            android:exported="false"
            android:label="@string/widget_weekly_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weekly_activity_widget_info" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    
        <receiver
            android:name=".MediumWeekWidgetProvider"
            android:exported="false"
            android:label="@string/widget_medium_week_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/medium_week_widget_info" />

        </receiver>

        <receiver
            android:name=".MediumGoalsWidgetProvider"
            android:exported="false"
            android:label="@string/widget_medium_goals_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/medium_goals_widget_info" />

        </receiver>

        <receiver
            android:name=".SmallTopProjectWidgetProvider"
            android:exported="false"
            android:label="@string/widget_small_top_project_name">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_top_project_widget_info" />

        </receiver>
</application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
