@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #0A0A0A;
  color: #F5F5F5;
}

body {
  min-height: 100dvh;
  background-color: #0A0A0A;
  overflow-x: hidden;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    Inter,
    system-ui,
    sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2A2A2A;
  border-radius: 999px;
}

::selection {
  background: rgba(126, 224, 129, 0.25);
}

/* Components reutilizáveis */

.card {
  background: #161616;
  border: 1px solid #2A2A2A;
  border-radius: 24px;
  padding: 20px;
}

.surface {
  background: #1E1E1E;
  border: 1px solid #2A2A2A;
  border-radius: 16px;
}

.btn-primary {
  background: #F5F5F5;
  color: #0A0A0A;
  border: none;
  border-radius: 16px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: .2s;
}

.btn-primary:hover {
  opacity: .85;
}

.input {
  width: 100%;
  background: #1E1E1E;
  border: 1px solid #2A2A2A;
  border-radius: 12px;
  padding: 12px;
  color: white;
}

.input::placeholder {
  color: #6A6A6A;
}